.ActivityBar {
  width: 55px;
  max-width: 55px;
  height: 100%;
  background-color: var(--bg-2nd-tone);
  border-right: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
  margin: 0;
  box-sizing: border-box;
}